.navbar{
  position: relative;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(77, 77, 77, 0.2)23;
  padding: 5px 2%;
}

.logo{
  width:60px
}

.blocker{
  width: 50%;
}

button {
  position: relative;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.2 ease;
  border-radius: 8px;
}
button:hover {
  border-color: #61e699;
  transform: scale(1.05);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main:hover .container_div{
   transform: translateY(0%);
}

.container_div{
  background-color: rgb(32, 32, 32);
  height: 10%;
  
  position: relative;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
   transform: translateY(-100%);
}

.container_div:hover{
  transform: translateY(0%);
}
