 .article-feedback-container {
    --primary-color: #86eca1;
    --secondary-color: #86eca1;
    --tab-text-color: #ffffff;
    --heading-color: #86eca1;
    --hover: rgb(141, 220, 138);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: white;
    width: 45%;
    border-radius: 8px;

    margin: auto;
  }
  .article-feedback-heading {
    font-size: 25px;
    font-weight: 600;
    color: var(--heading-color);
  }
  .article-feedback-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
  }
  .article-feedback-wrapper .input {
    display: none;
  }
  .article-feedback {
    flex-grow: 1;
    text-align: center;
    padding: 8px 24px;
    font-size: 14px;
    background: var(--tab-text-color);
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    border-radius: 8px;
  }
  .article-feedback-wrapper > .article-feedback:nth-child(2) {
    border-radius: 8px;
  }
  .article-feedback-wrapper > .article-feedback:nth-child(4) {
    border-radius: 8px;
  }
  .article-feedback:hover {
    background: var(--hover);
    color: var(--tab-text-color);
    border-color: var(--hover);
  }
  .article-feedback:active {
    transform: scale(0.9);
  }
  .input:checked + label.article-feedback {
    background: var(--primary-color);
    color: var(--tab-text-color);
  }

  .extend_block{
    height: 25%;
  }

  .wavy_span {
    width: 100%;
    height: 200px;
    background-color: #86eca1;
    -webkit-text-stroke: 1px rgb(97, 237, 58);
    animation: wavy_water 6s ease-in-out infinite;
  }

  @keyframes wavy_water {
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
     54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
     51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}