.dates{
  position: relative;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(77, 77, 77, 0.2)23;
  padding: 5px 2%; 
}

.main_text{
    position: relative;
    width: 100%;
    text-align: center;
}

.main_pie_holder{
    align-self: center;
}

.results_button {
  position: relative;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.2s ease;
}
.results_button:hover {
  border-color: #e9c93b;
  transform: scale(1.05);
  background-color: rgba(0,0,0,0);
}

.results_button:checked{
    border-color: #e9c93b;
    background-color: #e9c93b;
    transform: scale(1.05);
}

.results_button:focus,
.results_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
